/* css reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

root {
  --primary-color: blueviolet;
  --text-color: aliceblue;
  --text-color-gray: #333;
  --mono: "Fira Mono", monospace;
  --main-name-font: "Niconne", cursive;
  --nav-font: "Cabin Sketch", cursive;
}

/* header */

.header {
  background: blueviolet;
  color: white;
  position: fixed;
  display: grid;
  align-items: center;
  grid-template-columns: 30% 1fr;
  width: 100vw;
  text-align: center;
  top: 0;
}

header nav{
    padding: 1rem
}

.navbar {
  background: blueviolet;
  color: white;
  width: 100%;
  font-size: 1.4rem;;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  padding:  0rem;
  gap: 1rem;
  list-style: none;
  font-family: "Cabin Sketch", cursive;
  text-emphasis: none;
  text-decoration: none;
}
header a {
  text-decoration: none;
  color: aliceblue;
}

.footer {
  background: blueviolet;
  color: white;
  width: 100vw;
  padding: 10px;
  text-align: end;
  position: fixed;
  bottom: 0;
}

header #main-name {
  font-family: "Niconne", cursive;
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 700;
  color: aliceblue;
}

header h1{
  padding: 0 0.7rem;

}

.main-content {
  padding: 70px;
}
