/* css reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

root {
  --primary-color: blueviolet;
  --text-color: aliceblue;
  --text-color-gray: #333;
  --mono: "Fira Mono", monospace;
  --main-name-font: "Niconne", cursive;
  --nav-font: "Cabin Sketch", cursive;
}

/* header */

.header {
  background: blueviolet;
  color: white;
  display: grid;
  align-items: center;
  grid-template-columns: 40% 1fr;
  height: fit-content;
  position: fixed;
  width: 100%;
  text-align: center;
}

header nav {
  padding: 1rem;
}

.navbar {
  background: blueviolet;
  color: aliceblue;
  width: 100%;
  font-size: 1rem;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  padding-left: 1rem;
  gap: 1rem;
  list-style: none;
  font-weight: 600;
}

header a {
  text-decoration: none;
  color: white;
}

.footer {
  background: blueviolet;
  height: fit-content;
  color: white;
  width: 100%;
  display: grid;
  padding: 10px;

  align-items: center;
  grid-template-columns: max-content 1fr;
  justify-content: center;
}

.copyright {
  text-align: left;
  padding: 0 0.7rem;
  font-size: 1.2rem;
}

header #main-name {
  font-family: "Niconne", cursive;
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 700;
  color: aliceblue;
}

header h1 {
  padding: 0 0.7rem;
}

.contact-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  padding-left: 1rem;
  gap: 1rem;
  list-style: none;
  text-emphasis: none;
  text-decoration: none;
}
.contact-links a {
  text-decoration: none;
  background-color: blueviolet;
  color: aliceblue;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.nav-button {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  text-decoration: none;
  display: inline-block;
  background-color: rgba(0, 0, 0, 15%);
  color: aliceblue;
  padding: 4px 8px;
  font-size: 1.1rem;
  border-radius: 10px;
}

.nav-button:hover {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 30%);
  outline: #cfc6c6 1px solid;
}

body {
  background-color: #f5f5f5;
  font-family: "Fira Mono", monospace;
  font-size: 1.2rem;
  color: #333;
  display: grid;
  grid-template-rows: min-content auto min-content;
  text-align: center;
  min-height: 100vh;
}

.main-content {
  padding: 2rem 2rem;
  padding-top: 5rem;
  min-height: 94vh;
}

#mc_embed_signup {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* mobile media query  */

@media screen and (max-width: 600px) {
  .header {
    background: blueviolet;
    height: fit-content;
    color: white;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    grid-auto-flow: column;
    width: 100%;
    text-align: center;
  }
  .footer {
    background: blueviolet;
    color: white;
    height: fit-content;
    width: 100%;
    padding: 10px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    grid-auto-flow: column;
    gap: 1rem;
    justify-content: center;
  }
  .copyright {
    text-align: center;
  }
  .main-content {
    padding-top: 8rem;
  }
}

input {
  background-color: aliceblue;
}
